* { 
    margin: 0;
}

.nav {
    height: 75px;
    width: 100%;
    align-content: center;
    background-image: linear-gradient(to bottom right, #0080ff, #66d9ff)
}

.formBtn {
    width: 30%;
    border-radius: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#profileBtn {
    width: 55px;
    height: 55px;
    margin-top: 10px;
    border-radius: 100%;
    margin-right: 14px;
}