#loginForm {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 350px;
    height: 450px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#mainLogo {
    width: 120px;
    height: auto;
    margin-top: 30px;
}